%section#photos.widgit.white
  %h2= t(:streetview)
  %a{ :href => "http://maps.googleapis.com/maps/api/streetview?size=800x800&location=#{ @suburb["name"]}&heading=235&sensor=false", :alt => @suburb["name"], :title => @suburb["name"], :rel=>"lightbox[suburb]" }
    %img{ :src=>"http://maps.googleapis.com/maps/api/streetview?size=200x200&location=#{ @suburb["name"]}&heading=235&sensor=false"}
 