.container-fluid
  .row-fluid
    %section#universities.span12
      - @universities["universities"].each do |university|
        %div{ :class => "university span6" }
          = link_to image_tag(university["logo"], :alt => university["name"], :title => university["name"]), university_path( :university_permalink => university["permalink"])
    