body {
   padding-top: 0px;
   padding-bottom: 40px;
}
.sidebar-nav {
   padding: 9px 0;
}

@media (max-width: 980px) {
        /* Enable use of floated navbar text */
   .navbar-text.pull-right {
      float: none;
      padding-left: 5px;
      padding-right: 5px;
   }
}
@media (min-width: 480px) {
   #content{
      width: 80%;
      margin: auto;
   }
}
footer{
   margin: 40px 0 0 0;
   section#locales{
      text-align:center;
      ul{
         margin: 0;
         padding: 0;
         li{
            list-style:none;
            display:inline;
            margin: 0 40px 0 0;
         }
      }
   }
}
section#universities{
   .university{
      margin: 20px 0 0 0;
      border:1px solid #eee;
      padding: 10px 10px 10px 10px;
     
      text-align:center;
      img{
         height: 100px;
      }
      
   }
}

header{
   float:left;
   width:100%;
   margin: 20px 0 20px 0;
   h1{
      font-family: 'Lato', sans-serif;
      font-size:68px;
      color: #666;
   }
   a{
      text-decoration:none;
   }
}
.container-fluid{
   padding:0;
}
.hero-unit{
   padding: 10px 20px 10px 20px ;
   h2{
      font-size:20px;
      margin: 0;
   }
}
#suburb-show{
   .span12{
      margin: 0;
      padding: 0;
      .span5{
         margin: 0;
         padding: 0;

      }
      .left{
         float:left;
      }
      .right{
         float:right;
      }
   }
}

#suburb-show{
   section.widgit{
      h2{
         font-size: 22px;
      }
      p{
         span{ 
            min-width: 100px;
         }
      }
      
   }
   .suburb.span12{
      border:1px solid #666;

      padding: 20px;
      margin: 0 0 5px 0;

      font-size: 20px;
      
   }
}
.odd{
   background:#666;
   color: #fff;
}

section#surrounding_suburbs{
   margin: 20px 0 20px 0;
   
   ul{
      padding: 0;
      margin:0;
      li{
         list-style:none;
         height: 30px;
      }
   }
}

#university-meta{
   font-size:18px;
   text-align:right;
   #address{
      margin: 0 0 10px 0;
   }
}
section#hero-breakdown{
   table{
      border:1px solid red;
      tr{
         th{
            border:1px solid red;
            text-align:left;
         }
         td{
            border:1px solid red;
         }
      }
   }
  
}


section#travel{
   ul{
      margin:0;
      padding:0;
      li{

         display:inline;
         min-width:15px;
         text-align:left;
         padding: 0;
         margin: 0;
      }
   }
}
/* Internation education and research industry action plan NSW GOV */

#travel{
   ul{
      
      li{display:block;}
   }
}

section#map{
   height: 300px;
}

section#photos{margin: 0 0 20px 0;}